@import "@/files/css/base/colors.module.scss";
@import "@/files/css/base/fonts.scss";

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $menu_height);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;

  background-color: $bg2;
  padding: 40px 20px;
  border-radius: 20px;

  h1 {
    font-size: 50px;
    font-weight: 500;
    color: $acc2;
    background: linear-gradient(120deg, $acc2, $acc1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }
  p {
    font-family: $font_s2;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;

    transition: transform 0.2s ease-out;
    &:hover {
      cursor: pointer;
      transform: scale(105%);
    }
  }

  input, button {
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid $bg3;
    background-color: $bg1;
    margin-bottom: 5px;
  }
  button {
    font-family: inherit;
    height: 26px;
    margin: 0;
    padding: 0 5px;
    box-sizing: content-box;

    margin-top: 5px;

    &:hover {
      cursor: pointer;
      color: $bg1;
      background-image: linear-gradient(120deg, $acc1, $acc2);
    }
  }
}