@import "@/files/css/base/colors.module.scss";
@import "@/files/css/base/fonts.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;

  input, button {
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid $bg3;
    background-color: $bg1;
    margin-bottom: 3px;
  }
  button {
    font-family: inherit;
    height: 26px;
    margin: 0;
    padding: 0 5px;
    box-sizing: content-box;

    &:hover {
      cursor: pointer;
      color: $bg1;
      background-image: linear-gradient(120deg, $acc1, $acc2);
    }
  }
}