@import "@/files/css/base/colors.module.scss";
@import "@/files/css/base/fonts.scss";

.menu {
  height: $menu_height;
  width: 500px;
  padding: 0 20px;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 0 0 50px 0;
  box-shadow: 0 0 50px 0 $shadow;

  background-color: $bg1;

  a {
    display: flex;
    align-items: center;
    border-radius: 100vw;

    p {
      margin-left: 5px;
      font-size: 20px;
      font-family: $font_m1;
      color: $acc2;
      background: linear-gradient(120deg, $acc2, $acc1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      //width: max-content;
      max-width: 0;
      overflow: hidden;

      transition: max-width 0.2s linear;
    }

    @media only screen and (min-width: 500px) {
      &:hover {
        p {
          max-width: 200px;
        }
      }
    }
    &.active {
      background-image: linear-gradient(120deg, $acc1, $acc2);
      padding: 5px 20px;
      p {
        max-width: 200px;
        color: $bg1;
        background: linear-gradient(120deg, $bg1, $bg1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .menu {
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    border-radius: 0;
    box-sizing: border-box;
  }
}