@import "@/files/css/base/colors.module.scss";
@import "@/files/css/base/fonts.scss";

.top_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 50px;
}

.personal_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 500px;

  .name_container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: $bg2;
    border-radius: 20px;

    margin-bottom: 20px;

    img {
      width: 70px;
      height: 70px;
      margin-right: 15px;
      border-radius: 100%;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      p.name {
        font-size: 30px;
        font-weight: 500;
      }
      p.first_name {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .other_data {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: $bg2;
    border-radius: 20px;

    margin-bottom: 20px;

    div {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 3px;

      p {
        width: 100px;
        font-size: 15px;
        font-weight: 300;
      }
      input {
        width: 300px;
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
        border: 3px solid $bg3;
        background-color: $bg1;

        &.disabled {
          border-color: transparent;
          outline: none;
          background-color: transparent;
        }
      }
      button {
        width: 30px;
        height: 30px;
        margin-left: 15px;
        img {
          width: 100%;
          height: 100%;
        }
        .normal {
          display: block
        }
        .hover {
          display: none
        }
        &:hover {
          cursor: pointer;
          .normal {
            display: none
          }
          .hover {
            display: block
          }
        }
      }
    }
    .pass {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      input, button {
        width: 400px;
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
        border: 3px solid $bg3;
        background-color: $bg1;
        margin-bottom: 3px;
      }
      button {
        font-family: inherit;
        height: 26px;
        margin: 0;
        padding: 0 5px;
        box-sizing: content-box;

        &:hover {
          cursor: pointer;
          color: $bg1;
          background-image: linear-gradient(120deg, $acc1, $acc2);
        }
      }
    }
  }
  .logout {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: $bg2;
    border-radius: 20px;

    button {
      font-family: inherit;
      font-size: 15px;

      width: 400px;
      height: 26px;

      margin: 0;
      padding: 0 5px;
      box-sizing: content-box;

      border-radius: 10px;
      border: 3px solid $bg3;
      background-color: $bg1;

      &:hover {
        cursor: pointer;
        color: $bg1;
        background-image: linear-gradient(120deg, $acc1, $acc2);
      }
    }
  }
}

.additional_options {
  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    background-color: $bg2;
    border-radius: 20px;

    width: 500px;
    margin-bottom: 20px;
    .tag {
      display: flex;
      align-items: center;
      padding: 2px 8px;
      background-color: $bg3;
      border-radius: 100vw;
      margin-bottom: 7px;
      margin-right: 7px;
      p {
        margin-top: -1px;
        margin-bottom: 2px;
        margin-left: 5px;
        font-size: 15px;
      }
      &.active {
        background-image: linear-gradient(120deg, $acc1, $acc2);
        p {
          color: $bg1;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .volunteer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

    background-color: $bg2;
    border-radius: 20px;

    width: 500px;
    margin-bottom: 20px;

    >h1 {
      font-size: 35px;
    }
    textarea, button {
      width: 400px;
      font-size: 15px;
      padding: 5px;
      border-radius: 10px;
      border: 3px solid $bg3;
      background-color: $bg1;
      margin-bottom: 3px;
      resize: none;
    }
    button {
      font-family: inherit;
      height: 26px;
      margin: 0;
      padding: 0 5px;
      box-sizing: content-box;

      &:hover {
        cursor: pointer;
        color: $bg1;
        background-image: linear-gradient(120deg, $acc1, $acc2);
      }
    }
    .devino_voluntar:hover {
      cursor: pointer;
      color: $acc2;
      background: linear-gradient(120deg, $acc2, $acc1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .operator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

    background-color: $bg2;
    border-radius: 20px;

    width: 500px;
    margin-bottom: 20px;

    >h1 {
      font-size: 35px;
    }
    .event {
      position: relative;
      width: 100%;
      height: 90px;
      margin: 7px 0;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 20px;
      overflow: hidden;
      transition: transform 0.2s ease-out;

      >div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, $acc1, $acc2);
        opacity: 0.8;
        transition: opacity 0.2s ease-out;
      }
      h1 {
        font-family: $font_s2;
        font-size: 25px;
      }
      h1, p {
        position: relative;
        transition: h1 0.2s ease-out, p 0.2s ease-out;
      }
      &:hover {
        cursor: pointer;
        transform: scale(102%);
        >div {
          opacity: 0.3;
        }
        h1, p {
          filter: drop-shadow(0 0 2px $bg1);
        }
      }
    }
    .add_event {
      width: 100%;
      margin: 7px 0;
      padding: 5px 10px;

      box-sizing: border-box;
      border-radius: 20px;
      border: 3px solid $bg3;

      background-color: $bg1;
      font-family: inherit;
      font-size: 15px;

      &:hover {
        cursor: pointer;
        color: $bg1;
        background-image: linear-gradient(120deg, $acc1, $acc2);
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .top_container {
    flex-direction: column;
    align-items: center;

    .personal_data {
      width: 70%;
      margin-bottom: 20px;
      .other_data {
        width: 100%;
        input {
          width: 100%;
        }
        p, button {
          flex-shrink: 0;
        }
      }
      .pass, .logout {
        input {
          width: 100%;
          box-sizing: border-box;
        }
        button {
          width: 100%;
          box-sizing: border-box;
          height: 32px;
        }
      }
    }
    .additional_options {
      width: 70%;
      >* {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .top_container {
    margin-top: 0;
    margin-bottom: $menu_height;
  }
}
@media only screen and (max-width: 500px) {
  .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 18px !important;
    }
    p {
      font-size: 12px;
    }
  }
  .personal_data {
    width: 90% !important;
  }
  .additional_options {
    width: 90% !important;
  }.top_container {
    padding-top: 20px;
  }
}